img {
  width: 64px;
  height: 64px;
}
.image-right {
  margin: 1em 0;
}

@media (min-width: 20em) {
  .image-left,
  .image-right {
    display: flex;
    align-items: center;
  }

  .image-left img {
    margin-right: 1em;
    float: left; /* fallback */
  }

  .image-right img {
    order: 1;
    margin-left: 1em;
    float: right; /* fallback */
  }

  /* clearfix for fallback */
  .image-left::after,
  .image-right::after {
    content: "";
    display: block;
    clear: both;
  }
}

@media (min-width: 30em) {
  .image-left img,
  .image-right img {
    flex-shrink: 0;
  }
}
