<dl>
  <dt>Summary</dt>
  <dd>
    <div class="image-right">
      <img [src]="providerPhoto" alt="Human Rights Logo" />
      <div>
        <p>
          The Human Rights Logo has its origin in the international “Logo for
          Human Rights” initiative, which was started in 2010. Its goal was to
          create an internationally recognized logo to support the global human
          rights movement. The winning logo was created by Predrag Stakić from
          Serbia.
        </p>
        dl
      </div>
    </div>
  </dd>
</dl>
